@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900|Srisakdi:400,700");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700");

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #e08ef9;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
  color: #004fff;
  font-family: "Josefin Sans", sans-serif;
}

main {
  width: 700px;
}

p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #004fff;
}

a {
  text-decoration: none;
  color: #004fff;
}

footer p {
  font-size: 0.9rem;
  margin: 0;
}

footer {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

div.love p {
  margin: 0;
}

.main-page {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  height: 70px;
  width: 400px;
  border-radius: 10px;
  background-color: #ed5c98;
  border: 1px solid #004fff;
}

.fancy {
  font-family: "Srisakdi", cursive;
  font-size: 1.5rem;
  font-weight: 700;
}

.open {
  font-weight: 700;
  font-size: 1.5rem;
}

@media (max-width: 650px) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }

  main {
    width: 350px;
  }

  a {
    font-size: 1rem;
  }

  button.main-page {
    width: 250px;
    margin: 10px 0 25px 0;
  }

  .open {
    font-size: 1.3rem;
  }

  footer {
    display: block;
  }

  footer p {
    font-size: 0.8rem;
  }

  footer a {
    font-size: 0.8rem;
  }
}
